* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.h1{
	font-family: cursive;
    font-size: xx-large;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20%;

}
.container__header{
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* background: blue; */
}

.container__task__item{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 9px;
	font-size: 20px;
	border-width: 3px;
	border-color: #e67272;
	background-color: #856c6c;
	color: #040000;
	border-style: outset;
	border-radius: 11px;
	box-shadow: 0px 0px 5px rgba(66,66,66,.75);
	text-shadow: 0px 0px 5px rgba(66,66,66,.75);
	width: auto;
	list-style:none;
}
.hide{
	display: none;
}
img{
width: 20px;
}
.buttonRemoveTask{
	width: 20px;
}
.entrada{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	padding: 9px;
	font-size: 20px;
	border-width: 3px;
	border-color: #e67272;
	background-color: #856c6c;
	color: #040000;
	border-style: outset;
	border-radius: 11px;
	box-shadow: 0px 0px 5px rgba(66,66,66,.75);
	text-shadow: 0px 0px 5px rgba(66,66,66,.75);
	width: auto;
	list-style:none;

	text-align: left;
	font-family: system-ui;
    width: auto;
    background: rgb(241, 234, 234);
    border: 2px solid;
    border-radius: 6px;
    
	color: #040000;

}